*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width:400px;
    background-color: #D9DADC;
}

.principal, .offcanvas-header h5{
    font-family: 'Belanosima', sans-serif;
    letter-spacing: 3px;
    text-transform: capitalize;

}

h1,h2,h3,h4,p, span{
    font-family: 'Belanosima', sans-serif;
    letter-spacing: 1px;
}
p,ul, ol {
    font-family: 'Encode Sans', sans-serif;
font-size: 21px;
font-weight: 300;
    letter-spacing: 1px;
}



/*NAV PRINCIPAL*/

.navbar-toggler{
    border: none;
}
.navbar-toggler-icon{
    border: none;
}
.navbar-toggler-icon:active {
    transform: rotate(90deg);
    border: none;

}
.navbar-brand img{

    /*max-width: 15vw;*/
    max-height: 45px;
}

.principal{
    /*background-image: url("../assets/unplash_images/girl-with-red-hat-012SxFCCqGA-unsplash.jpg");*/
    min-width: 370px;
    background-image: url("../assets/unplash_images/pawel-czerwinski-X4PSwltIx9c-unsplash.jpg");

}

div>.reflectie{
    margin: 40px 0 100px 0;
}

/*OVERZICHT OFF CANVAS*/
/*OOFCANVAS RECHTS*/
.offcanvas {
   background-color: #c2ddbe;
}
#offcanvasNavbar{
    width: 50vw;
}
.offcanvas-header a{
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}

.offcanvas a:hover{
    font-weight: bold;
}
.offcanvas a:active{
    text-decoration: underline;
}


/*OFFCANVAS LINKS*/
.offcanvas-left {
    width: 50vw;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    left: -50vw;
    z-index: -1;
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);*/
    overflow: auto;
    overflow-x: hidden;
    transition: right 2.8s cubic-bezier(.25,.25,.85,.81);

}

.offcanvas-left.show {
left: 0;
}

.offcanvas-left .text-offleft {
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
    border-radius: 10px;
    top: 20%;
    padding:25px;
}
.text-offleft{
    width: 50%;
    left:25%;
    position: absolute;


}


.offcanvas-left, .reflectie .card-body{
    /*background-image: url("../assets/unplash_images/efe-kurnaz-RnCPiXixooY-unsplash.jpg")*/

}
.offcanvas-left img{
    max-width: 50%;
    margin: 1%;
    position: absolute;
    top: 15px;
    left: 15px;
    filter: invert(100%);
}



/*--HEADER*/


.header-cta{
background-image: url("../assets/unplash_images/pawel-czerwinski-X4PSwltIx9c-unsplash.jpg");

height: 85vh;

}


/*secondary navbar*/
.secondary-navbar{
    position: sticky;
    z-index: 100;
    top: 55px;
    background-color: #000000;
    min-height: 80px;

}
.secondary-navbar ul{
    /*border: 1px solid #343a40;*/
}
.secondary-navbar li{
    margin: 0 35px;
}
.secondary-navbar a{
    color: #ffffff;

}

.secondary-navbar a:hover{

    border: 2px solid #ffffff;
color: #ffffff;
    background-color: #343a40;
    border-radius: 20px;
}
.secondary-navbar a:active{
    filter: invert(100);
}
.secondary-navbar a:focus{
    color: #ffffff;
    background-color: #000000;
    filter: invert(100);
    border-radius: 20px;

}


.header-goesting .header-cta .header-banner {

    color: #ffffff;
    background-color: rgba(69, 69, 73, 0.71);
}
/*MAIN---*/

.values-skills img{
   max-width: 100%;
    height: 50%;
}


.ervaring-wpl{
    margin: 70px 0;
    color: #000000;

}


button, .values-skills button{
    padding: 10px 15px ;
    border-radius: 20px ;
    background-color: #557566;
    border: none;
    font-weight: bold;
    color: #ffffff;
}
.main-over{
background-color: #B0CBA2;

}
.over{
    color: #ffffff;
    background-color: #537364;
}
.hard-skills, .formulier, .card-info{
    /*background-image: url("../assets/unplash_images/efe-kurnaz-RnCPiXixooY-unsplash.jpg")*/
    /*background-image: url("../assets/unplash_images/pawel-czerwinski-X4PSwltIx9c-unsplash.jpg");*/
    background-color: #D5D6D8;
}
.hard-skills .text-intro h2{
    color: #4E7060;
}

.hard-skills img, .tools img{
    max-width: 50%;
    margin: 30px auto;
}
.lijst-hs .card-body{
background-color:#537364;
    color: #ffffff;
}

.tools{
    text-align: center;
}
.lijst-wpl1 .scroll-link:hover{
cursor: pointer;
    font-weight: bold;
}
.lijst-wpl1  a{
    text-decoration: none;
    color: #000000;
}

/*FORMULIER CONTACT*/
.formulier{
padding: 20px 0;
}
.formulier .card{
    border: none;
}
.formulier h2{
    color: #4E7060;
}
.formulier input, #bericht{
border-bottom: 3px solid #4E7060;
    background: transparent;
}
.formulier input:focus, #bericht:focus{
background: #CECFD1;
    outline: none;
    border-bottom: 3px solid #B0CBA2;
    color: #ffffff;
}
#bericht {

    outline: none;
    resize: none;

}
.formulier button{
    margin: 20px auto ;
    background: #4E7060;
    border: none;
    color: #ffffff;
    font-weight: bold;
border-radius: 20px;
}
.formulier button:hover{
    background-color: #212529;
}

/*CARDS PORTFOLIO*/

.card{

    position: relative;
    overflow: hidden;

}


.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: rgba(69, 69, 73, 0.71);
    color: #ffffff;
    transition: left 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;

}
.card:hover .card-overlay{
    transform: translateX(0);

}
.card-overlay-heading{
    font-size: 35px;
    text-transform: capitalize;
}
.card-overlay-paragraph{
    font-size: 24px;
    margin-bottom: 20px;
}
 .card-overlay-button{
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.card-image{
    object-fit: fill;
    padding: 5px;
    height: 300px;
}

.card-info h2, .card-info span{
 color: #ffffff;
}
.reflectie .card-body{
    color: #ffffff;
}
.reflectie .card-body, .footer{
    background-position: right;
}
.reflectie a{
    background-color: #20c997;
    color:#000000;

    border: none;
}

.cases span{
font-weight: bold;
    font-size: 24px;

}

.doelgroepen{
    background-color: #212529;
    color: #ced4da;
}
.doelgroepen h2{
    color: #20c997;
}

.modal-content{
    width: 80vw;
}



/*FOOTER*/
.footer{
    min-height: 250px;
    background-color: #212529;
    display: flex;


}
.footer .row{
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
}

.footer ul li , .footer h3{
    color: #ffffff;
}
.footer ul li{
    list-style: none;
}
.footer-social ul{
    display: flex;
    justify-content: space-between;

}
.footer-social i{
    font-size: 35px;
    color: #ffffff;

}



@media screen and (min-width: 1000px ){
    .offcanvas-left img{

        max-width: 45%;
        max-height: 35%;


    }
    .header-banner h1{
        font-size: 60px;
    }
    .header-banner p{
       font-size: 26px;
    }
    .offcanvas-left .text-offleft {

        font-size: 75px;
    }
    .offcanvas-header h5, .principal, .offcanvas-body a{
        font-size: 70px;
    }
    h3{
        font-size: 26px;
    }

    h2{
        font-size: 30px;
    }
    body h2{
        font-size: 45px;
    }
    h1{
        font-size: 41px;
    }

}