*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal, .offcanvas-header h5{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
    text-transform: capitalize;

}

h1,h2,h3,h4,p, span{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
}
p,ul, ol {
font-size: 21px;
    font-weight:400;
}



/*NAV PRINCIPAL*/

.navbar-toggler{
    border: none;
}
.navbar-toggler-icon{
    border: none;
}
.navbar-toggler-icon:active {
    transform: rotate(90deg);
    border: none;

}
.navbar-brand img{

    /*max-width: 15vw;*/
    max-height: 45px;
}

.principal{
    background-image: url("../assets/unplash_images/girl-with-red-hat-012SxFCCqGA-unsplash.jpg");
}

div>.reflectie{
    margin: 40px 0 100px 0;
}

/*OVERZICHT OFF CANVAS*/

.offcanvas-left {
    width: 50vw;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    left: -50vw;
    z-index: -1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    /*transition: right 10s linear;*/
    transition: right 2.8s cubic-bezier(.25,.25,.85,.81);
}
.offcanvas-left img{
    filter: invert(100%);

}
#offcanvasNavbar{
    width: 50vw;

}
.offcanvas header a{
    color: #ffffff;
}
.offcanvas-left.show {
left: 0;
}

.offcanvas-left .text-offleft {
    width: 50%;
    position: absolute;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
    border-radius: 10px;
}


.offcanvas-left .text-offleft{
    top: 20%;
    left:25%;
    /*font-size: 75px;*/
    padding:25px;
}


/*--HEADER*/


.header-cta{
    background-image: url("../assets/unplash_images/girl-with-red-hat-012SxFCCqGA-unsplash.jpg");
height: 85vh;


}


/*secondary navbar*/
.secondary-navbar{
    position: sticky;
    z-index: 100;
    top: 55px;
    background-color: #000000;
    min-height: 80px;

}
.secondary-navbar ul{
    border: 1px solid #343a40;
}
.secondary-navbar li{
    margin: 0 35px;
}
.secondary-navbar a{
    color: #ffffff;
}

.secondary-navbar a:hover{

    border: 2px solid #ffffff;
color: #ffffff;
    background-color: #343a40;
    border-radius: 20px;
}
.secondary-navbar a:active{
    filter: invert(100);



}
.secondary-navbar a:focus{
    color: #ffffff;
    background-color: #000000;
    filter: invert(100);
    border-radius: 20px;



}

/*MAIN---*/


.offcanvas {
    background-image: url("../assets/unplash_images/girl-with-red-hat-012SxFCCqGA-unsplash.jpg")
}
.offcanvas-left, .reflectie .card-body{
    background-image: url("../assets/unplash_images/efe-kurnaz-RnCPiXixooY-unsplash.jpg")
}
.offcanvas-left img{
    max-width: 50%;
    margin: 1%;
    position: absolute;
    top: 15px;
    left: 15px;
}
.offcanvas-header a{
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}

.offcanvas a:hover{
    font-weight: bold;
}
.offcanvas a:active{
    text-decoration: underline;
}
.ervaring-wpl{
    margin: 70px 0;
    background-color: #000000;
    color: #ffffff;

}


button, .values-skills button{
    padding: 10px 15px ;
    border-radius: 20px ;
    background-color: #20c997;
    border: none;
    font-weight: bold;
}
.hard-skills, .formulier, .card-info{
    background-image: url("../assets/unplash_images/efe-kurnaz-RnCPiXixooY-unsplash.jpg")
}
.hard-skills .text-intro{
    color: #ffffff;
}

.hard-skills img, .tools img{
    max-width: 50%;
    margin: 30px auto;
}
.tools{
    text-align: center;
}


/*FORMULIER CONTACT*/
.formulier{
padding: 20px 0;
}
.formulier .card{
    border: none;
}
.formulier h2{
    color: #ffffff;
}
.formulier input, #bericht{
border-bottom: 3px solid #6f42c1;
    background: transparent;
}
.formulier input:focus, #bericht:focus{
background: #212529;
    outline: none;
    border-bottom: 3px solid #20c997;
    color: #ffffff;
}
#bericht {

    outline: none;
    resize: none;

}
.formulier button{
    margin: 20px auto ;
    background: #20c997;
    border: none;
    color: #212529;
    font-weight: bold;
border-radius: 20px;
}

/*CARDS PORTFOLIO*/

.card{

    position: relative;
    overflow: hidden;

}

.card:hover .card-overlay{
  transform: translateX(0);
}
.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: rgba(69, 69, 73, 0.71);
    color: #ffffff;
    transition: left 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

}
.card-overlay-heading{
    font-size: 35px;
    text-transform: capitalize;
}
.card-overlay-paragraph{
    font-size: 24px;
    margin-bottom: 20px;
}
 .card-overlay-button{
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.card-image{
    object-fit: fill;
    padding: 5px;
    height: 300px;
}

.card-info h2, .card-info span{
 color: #ffffff;
}
.reflectie .card-body{
    color: #ffffff;
}
.reflectie .card-body, .footer{
    background-position: right;
}
.reflectie a{
    background-color: #20c997;
    color:#000000;

    border: none;
}

/*FOOTER*/
.footer{
    min-height: 250px;
    background-color: #212529;
    display: flex;


}
.footer .row{
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
}

.footer ul li , .footer h3{
    color: #ffffff;
}
.footer ul li{
    list-style: none;
}
.footer-social ul{
    display: flex;
    justify-content: space-between;

}
.footer-social i{
    font-size: 35px;
    color: #ffffff;

}



@media screen and (min-width: 1000px ){
    .offcanvas-left img{

        max-width: 45%;
        max-height: 35%;


    }
    .header-banner h1{
        font-size: 60px;
    }
    .header-banner p{
       font-size: 31px;
    }
    .offcanvas-left .text-offleft {

        font-size: 75px;
    }
    .offcanvas-header h5, .principal, .offcanvas-body a{
        font-size: 70px;
    }
    h3{
        font-size: 26px;
    }
    h2{
        font-size: 30px;
    }
    h1{
        font-size: 41px;
    }
}